section {
    height: 100%;
    text-align: center;
    background-image: url('./../../assets/img/hero/Hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
}

h1 {
    text-align: center;
    font-size: 96px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
}