@import './../../../shared/styles/mixins.scss';

.header {
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    font-family: 'Raleway';
    @include flexbox($jc: center);

    &-container {
        max-width: 1440px;
        width: 100%;
        padding-left: 64px;
        padding-right: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-logo {
        width: 64px;
    }

    &-nav {
        @include flexbox($g: 8px);
    }

    &-link {
        display: inline-block;
        text-decoration: none;
        color: whitesmoke;
        margin-left: 32px;

        &:hover {
            text-decoration: underline;
        }

        &-button {
            padding: 8px 12px;
            background-color: #9F0908;
            @include borderStyling(8, 2, solid);
            transition: transform .2s ease;
            @include flexbox();

            &:hover {
                transform: scale(1.025);
            }

            > img {
                padding-right: 4px;
            }
        }  
    }
}
