<header class="header">
    <div class="header-container">
        <img class="header-logo" src="./../../../../assets/img/header/logo.svg" alt="Sakura Logo">
        <nav class="header-nav">
            <a class="header-link" href="#menu">MENU</a>
            <a class="header-link" href="#location">LOCATIONS</a>
            <a class="header-link" href="#about">ABOUT</a>
            <a class="header-link header-link-button" href="tel:+4117654564534">
                <img src="./../../../../assets/img/header/phone.svg" alt="Phone Icon">
                0176 54564534</a>
        </nav>
    </div>
</header>
