footer {
    height: 144px;
    background-color: #0A141E;
    color: whitesmoke;
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
        max-width: 1440px;
        width: 100%;
        padding-left: 64px;
        padding-right: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        div:first-child {
            display: flex;
            align-items: center;
            gap: 24px;
        
            img {
                height: 44px;
            }
        
            a {
                font-weight: bold;
                font-size: 24px;
                text-decoration: none;
                color: inherit;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        
        div:last-child {
            a {
                text-decoration: none;
                color: inherit;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}