section {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;

    > div {
        max-width: 1440px;
        width: 100%;

        h2 {
            text-align: center;
            font-size: 80px;
            color: #9F0908;
        }
    
        > div {
            display: flex;
            justify-content: space-between;
            gap: 80px;
            padding: 64px 64px 0 64px;
            
            > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
    
                img {
                    width: 128px;
                }
    
                h3 {
                    font-size: 56px;
                    text-align: center;
                }
            }
        }
    }
}
