<section>
    <div>
        <h2 class="fontRaleway">HOW TO ORDER</h2>
        <div>
            <div>
                <img src="./../../assets/img/order/1. Noodle.svg" alt="Noodle Soup">
                <h3 class="fontEconomica">Pick your noodle</h3>
            </div>
            <div>
                <img src="./../../assets/img/order/2. Broth.svg" alt="Broth Picture">
                <h3 class="fontEconomica">Pick your noodle</h3>
            </div>
            <div>
                <img src="./../../assets/img/order/3. Egg.svg" alt="Egg Picture">
                <h3 class="fontEconomica">Pick your noodle</h3>
            </div>
        </div>
    </div>
</section>