<section>
    <div class="container">
        <h2>OUR MENU</h2>
        <div>
            <div class="dish">
                <img src="./../../../assets/img/menu/R1-CP.png" alt="First Dish">
                <div class="dish-description">
                    <h3>Tonkotsu Ramen</h3>
                    <table>
                        <tr>
                            <td>Chicken</td>
                            <td>11.95 CHF</td>
                        </tr>
                        <tr>
                            <td>Chicken</td>
                            <td>11.95 CHF</td>
                        </tr>
                        <tr>
                            <td>Chicken</td>
                            <td>11.95 CHF</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="dish dish-right">
                <img src="./../../../assets/img/menu/R2-CP.png" alt="Second Dish">
                <div class="dish-description">
                    <h3>Spicy Miso Ramen</h3>
                    <table>
                        <tr>
                            <td>Chicken</td>
                            <td>11.95 CHF</td>
                        </tr>
                        <tr>
                            <td>Chicken</td>
                            <td>11.95 CHF</td>
                        </tr>
                        <tr>
                            <td>Chicken</td>
                            <td>11.95 CHF</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="dish">
                <img src="./../../../assets/img/menu/R3-CP.png" alt="Third Dish">
                <div class="dish-description">
                    <h3>Shio Ramen</h3>
                    <table>
                        <tr>
                            <td>Chicken</td>
                            <td>11.95 CHF</td>
                        </tr>
                        <tr>
                            <td>Chicken</td>
                            <td>11.95 CHF</td>
                        </tr>
                        <tr>
                            <td>Chicken</td>
                            <td>11.95 CHF</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>