<section>
    <div>
        <h2 class="fontRaleway">HOW TO ORDER</h2>
        <div>
            <div>
                <img src="./../../../assets/img/order/1-noodle.svg" alt="Noodle Soup">
                <h3 class="fontEconomica">Pick your noodle</h3>
            </div>
            <div>
                <img src="./../../../assets/img/order/2-broth.svg" alt="Broth Picture">
                <h3 class="fontEconomica">Pick your noodle</h3>
            </div>
            <div>
                <img src="./../../../assets/img/order/3-egg.svg" alt="Egg Picture">
                <h3 class="fontEconomica">Pick your noodle</h3>
            </div>
        </div>
    </div>
</section>